$primaryDark: #323f47;
$primaryDark20: #323f4733;
$primaryDark30: #323f474d;
$primaryDark40: #323f4766;

$secondaryDark: #2f2f2f;
$secondaryDark15: #2f2f2f26;
$secondaryDark20: #2f2f2f33;
$secondaryDark40: #2f2f2f66;
$secondaryDark50: #2f2f2f80;
$secondaryDark60: #2f2f2f99;

$primaryGreen: #9be1a0;
$secondaryGreen: #87d28d;

$backgroundLight: #f0eff4;
$disabledBackground: #e6e6e6;
$disabledText: #bcbcbc;
$white: #ffffff;

$error: #ef5050;
