.wrapper {
    width: 129px;
    height: 78px;
    top: 157px;
    left: 64px;
    padding: 14px 18px;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 4px;
}