@use '../../styles/variables.scss' as *;

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    width: 436px;

    .buttons {
        display: flex;
        gap: 10px;
        width: 85%;
    }
}