@use '../../styles/variables.scss' as *;

.profile-modal {

    .settings-form {
        display: flex;
        flex-direction: column;

        .profile-photo {
            display: flex;
            justify-content: center;
            align-items: center;

            .photo-upload-input {
                display: none;
            }

            .photo-upload-label {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;

                .profile-image {
                    width: 100px;
                    height: 100px;
                }

                .upload-btn {
                    background: none;
                    display: flex;
                    gap: 8px;

                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }

        .fieldset {
            width: max-content;

            .radio-group {
                display: flex;
                gap: 20px;

                label {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                }

                input[type="radio"] {
                    appearance: none;
                    background-color: #fff;
                    margin: 0;
                    font: inherit;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    border: 1.5px solid $primaryGreen;
                    border-radius: 50%;

                    &:checked {
                        display: grid;
                        place-content: center;
                    }

                    &::before {
                        content: "";
                        width: 9px;
                        height: 9px;
                        border-radius: 50%;
                        box-shadow: inset 9px 9px $primaryGreen;
                    }
                }
            }
        }

        .formula-details {
            border: 1px solid $secondaryDark15;
            border-radius: 15px;
            padding: 16px;

            p {
                color: $secondaryDark60;
            }
        }
    }

    .form-parts {
        display: flex;
        gap: 40px;

        .form-part {
            width: 400px;
        }
    }
}
  