@use "../../../app/styles/variables" as *;

.profile-modal {
  .title {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    color: $primaryDark;
  }

  p {
    font-size: 16px;
    color: $secondaryDark;
  }

  .label {
    color: $primaryDark;
    font-weight: 700;
    padding-bottom: 14px;
  }

  span {
    font-size: 16px;
    font-weight: 700;
    color: $primaryGreen;

    &.asterisk {
      font-weight: 400;
    }
  }

  .settings-form {
    display: flex;
    flex-direction: column;

    .profile-photo {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 40px;

      .photo-upload-input {
        display: none;
      }

      .photo-upload-label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .profile-image {
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }

        .upload-btn {
          background: none;
          display: flex;
          gap: 8px;

          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .fieldset {
      width: max-content;

      .radio-group {
        display: flex;
        gap: 20px;
        padding-bottom: 24px;

        label {
          display: flex;
          gap: 10px;
          align-items: center;
        }

        input[type="radio"] {
          appearance: none;
          background-color: #fff;
          margin: 0;
          font: inherit;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          border: 1.5px solid $primaryGreen;
          border-radius: 50%;

          &:checked {
            display: grid;
            place-content: center;
          }

          &::before {
            content: "";
            width: 9px;
            height: 9px;
            border-radius: 50%;
            box-shadow: inset 9px 9px $primaryGreen;
          }
        }
      }
    }

    .form-parts {
      display: flex;
      gap: 40px;
      padding-bottom: 40px;

      .form-part {
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 14px;

        .daily-norma {
          .norma-details {
            display: flex;
            flex-direction: column;
            gap: 14px;

            .formula-section {
              display: flex;
              gap: 28px;

              .norma-item {
                display: flex;
                flex-direction: column;
                gap: 4px;
              }
            }

            .formula-details {
              border: 1px solid $secondaryDark15;
              border-radius: 15px;
              padding: 16px;

              p {
                color: $secondaryDark60;
              }
            }

            .additional-info {
              display: flex;
              gap: 4px;

              svg {
                width: 22px;
                height: 22px;
              }
            }
          }
        }

        .form-group {
          padding-top: 10px;
          display: flex;
          gap: 5px;
          text-wrap: nowrap;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .profile-modal {
    .title {
    }

    p {
      font-size: 14px;
      line-height: 18px;
    }

    span {
      font-size: 14px;
      line-height: 18px;
    }

    .settings-form {
      .profile-photo {
        .photo-upload-label {
          .profile-image {
          }

          .upload-btn {
            svg {
            }
          }
        }
      }

      .fieldset {
        .radio-group {
          label {
            font-size: 14px;
          }

          input[type="radio"] {
            &:checked {
            }

            &::before {
            }
          }
        }
      }

      .form-parts {
        flex-direction: column;
        gap: 24px;

        .form-part {
          .daily-norma {
            .norma-details {
              .formula-section {
                .norma-item {
                }
              }

              .formula-details {
              }

              .additional-info {
                svg {
                }
              }
            }
          }

          .form-group {
          }
        }
      }
    }
  }
}
