@use '../../../styles/variables.scss' as *;

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 40px;
}

button {
    border: none;
}

.calendar-header {
    display: flex;
    justify-content: space-between;

    .calendar-title {
        font-size: 28px;
        font-weight: 700;
        line-height: 32px;
        color: $primaryDark;
    }

    .calendar-controls {
        display: flex;
        gap: 20px;

        .month-navigation {
            display: flex;
            align-items: center;
            justify-content: center;

            .navigation-button {
                display: flex;
                padding: 0;
            }

            .current-month {
                width: 140px;
                font-size: 16px;
                font-weight: 700;
                text-align: center;
                color: $primaryDark;

            }
        }

        .statistic-button {
            padding: 0;
        }
    }
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 43px;
    row-gap: 15px;

    .day-wrapper {
        display: flex;
        flex-direction: column;
        gap: 4px;
        cursor: pointer;

        .day {
            width: 38px;
            height: 38px;
            border-radius: 30px;
            background-color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: -0.01em;
            color: $primaryDark;

            &.insufficiently {
                background-color: $primaryDark20;
            }

            &.isSelected {
                background-color: $primaryDark;
                color: $primaryGreen;
            }
        }

        .day-progress {
            font-size: 12px;
            font-weight: 400;
            color: $secondaryDark60;
            text-align: center;
            line-height: 24px;
        }
    }
}