@use '../../styles/variables.scss' as *;

.typography {
    margin: 0;

    &.color--primary {
        color: $primaryDark
    }

    &.color--secondary60 {
        color: $secondaryDark60
    }

    &.color--secondary50 {
        color: $secondaryDark60
    }

    &.color--secondary {
        color: $secondaryDark
    }

    &.color--green {
        color: $primaryGreen;
    }

    &.weight--regular {
        font-weight: 400;
    }

    &.weight--bold {
        font-weight: 700;
    }

    &.noWrap {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}