@use '../../styles/variables.scss' as *;

.wrapper {
    padding: 32px;
    box-sizing: border-box;
    
    .bottle {
        display: block;
        margin: 0 auto;
    }

    .add-water-button {
        position: absolute;
        width: 178px;
        bottom: 64px;
        right: 32px;
    } 
}