@use '../../styles/variables.scss' as *;

.wrapper {
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    
    .bottle {
        display: block;
        margin: 0 auto;
    }

    .add-water-button {
        position: absolute;
        width: 178px;
        top: 612px;
        left: 462px;
    } 
}