@use "../../../app/styles/variables" as *;

.wrapper {
  padding: 32px;

  .bottle {
    display: block;
    margin: 0 auto;
  }

  .add-water-button {
    position: absolute;
    width: 178px;
    bottom: 64px;
    right: 32px;
  }
}

@media screen and (max-width: 1439px) {
  .bottle {
    height: 477px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    .bottle {
      height: 335px;
    }

    .add-water-button {
      width: 140px;
      bottom: 32px;
      right: 16px;
    }
  }
}
