@use '../../styles/variables.scss' as *;

.container {
    width: 672px;
    border-radius: 30px;
    padding: 32px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $backgroundLight;

    &.background-green {
        background-color: $primaryGreen;
    }
}