$primaryDark: #323F47;
$primaryDark20: #323F4733;
$primaryDark30: #323F474D;
$primaryDark40: #323F4766;

$secondaryDark: #2F2F2F;
$secondaryDark15: #2F2F2F26;
$secondaryDark20: #2F2F2F33;
$secondaryDark40: #2F2F2F66;
$secondaryDark50: #2F2F2F80;
$secondaryDark60: #2F2F2F99;

$primaryGreen: #9BE1A0;
$secondaryGreen: #87D28D;


$backgroundLight : #F0EFF4;
$disabledBackground: #E6E6E6;
$disabledText: #BCBCBC;
$white: #FFFFFF;

$error: #EF5050;