.container {
    background: #F0EFF4;
    height: 736px;
    border-radius: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 32px;
}

@media screen and (max-width: 767px) {
    .container {
        padding: 40px 20px;
        height: fit-content;
    }
}