.container {
    background: #F0EFF4;
    width: 672px;
    height: 736px;
    border-radius: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 32px;
}