@use '../../styles/variables.scss' as *;

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 438px;

    form {
        width: 438px;
        display: flex;
        flex-direction: column;
        gap: 24px;

    }

    .title {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 24px;

    }

    .subtitle {
        margin-bottom: 20px;
        font-size: 18px;
    }

    .add-water-buttons {
        display: flex;
        gap: 8px;
        margin-top: 8px;
        margin-bottom: 16px;

        .icon-btn {
            border-width: 1.5px;
            width: 43px;
            height: 43px;

            &:first-child {
                svg {
                    width: 15px;
                }
            }
        }

        .amount {
            background: $primaryDark;
            padding: 11px 20px;
            border-radius: 30px;

        }
    }

    .save-button {
        width: 141px;
    }
}