@use '../../../styles/variables.scss' as *;

.progress-container {
    background-color: $white;
    box-sizing: border-box;
    position: absolute;
    bottom: 180px;
    left: 50%;
    transform: translateX(-50%);
    width: 295px;
    height: 106px;
    padding: 20px;
    border-radius: 15px;

    .progress-bar {
        position: relative;
        background-color: #f0eff4;
        border-radius: 9px;
        margin: 6px 0;
        width: 255px;
        height: 8px;
    }

    .progress-fill {
        background-color: $primaryGreen;
        height: 100%;
        border-radius: inherit;
        max-width: 100%;
    }

    .progress-indicator {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: $white;
        border: 1px solid $primaryGreen;
        border-radius: 50%;
        height: 12px;
        width: 12px;
        transform: translate(-50%, -50%);

        .progress-value {
            position: absolute;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .progress-labels {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
}